:root {
	--width: 11px;
	--height: 1vh;
}
#main {
	display: flex;
	flex-direction: column;
	/* width: calc(var(--width) * 120 ); */
	margin: 150px auto auto auto;
}

@media only screen and (min-width: 1024px) { 
	:root {
		--width: 6px;
	}
	#restart {
		height: 150px !important;
		margin: 20px;
		font-size: calc(4 * var(--width));
	}
	#stats {
		width: calc(90 * var(--width));
		margin: auto;
	}
	#main {
		display: flex;
		flex-direction: column;
		/* width: calc(var(--width) * 120 ); */
		margin: 100px auto auto auto;
	}

	#game-start-dialog {
		width: 200px !important;
	}
	
	.ui-widget {
		width: 100px !important;
		font-size: calc(5* var(--width)) !important;
	}

 }

.row {
	/* margin: 60px auto 10px auto; */
	/* width: calc(var(--width) * 80); */
	/* min-width: 336px; */
	min-height: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#restart  {
	height: 250px;
	margin: 15px;
	
}
#restart-button {
	font-size: calc(5 * var(--width)) !important;
}

.row div {
	padding:0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-end;
    align-content: center;
  }
.row div ul {
	padding:0;
	display: flex;
	height: calc(10 * var(--width));
	flex-direction: row;
	justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
  }
.row div ul li  {
	margin:auto 5px auto 5px;
	font-size: calc(4* var(--width));
	font-weight:normal;
	list-style:none;
	display:inline-block;
	box-sizing:border-box;
}
.row div ul .status {
	margin:auto 5px auto 5px;
	font-size:calc(4* var(--width));
	font-weight:normal;
	list-style:none;
	width: calc(18* var(--width));
	display:inline-block;
	box-sizing:border-box;
}

#moves-textarea {
	max-width: 100%;
}

/** Dialog **/

.no-close .ui-dialog-titlebar-close {display: none }

.ui-corner-all {
	font-size: calc(5* var(--width));
}
#game-start-dialog {
	width: 600px !important;
}

.ui-widget {
	width: 670px !important;
	font-size: calc(4* var(--width)) !important;
}

.ui-button {
	width: auto !important;
	font-size: calc(5* var(--width)) !important;
}
 .ui-dialog-buttonpane .ui-dialog-buttonset	 { 
    text-align: center;
	float: none !important;;
}

.selection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dropdown {
	height: fit-content;
	vertical-align: middle;
	margin: 1em;
}
#gameBoard {
	margin: auto;
    /* margin: calc(10* var(--width)) auto calc(2* var(--width)) auto; */
    cursor: pointer;
    /* max-width: calc(80* var(--width)); */
	width: fit-content;
    position: relative;
    /* height: calc(50* var(--width)); */
    border:2px #000000 solid;
}

#gameBoard .column {
	float: left;
	text-align: center;
    position:relative;
	width: calc(12* var(--width));
    background-color: lightslategray;
}


#gameBoard .ball, .ball {
	width: calc(10* var(--width));
	height: calc(10* var(--width));
	margin: calc(.01* var(--width));
	border-radius: calc(11* var(--width));
	display: block;
	z-index: 1;
	position: relative;
	box-shadow: 4px 10px 4px rgba(255, 255, 255, 0.4) inset;
	/* border: .1* var(--width) solid #FFFFFF; */
}

#gameBoard .column .next-ball {
	height: calc(11* var(--width));
	border-radius: calc(11* var(--width));
	display: block;
	visibility: hidden;
    position:absolute;
    top:calc(-10.2* var(--width));
	margin: calc(.01* var(--width)) calc(.01* var(--width)) calc(.01* var(--width)) calc(.5* var(--width));
	box-shadow: 4px 10px 4px rgba(255, 255, 255, 0.4) inset;
}

#gameBoard .column:hover .computerTurn {
	visibility: hidden;
}
#gameBoard .column .next-ball.animation-in-progress {
	visibility: visible;
}

#gameBoard .column:hover .next-ball {
	visibility: visible;
}


#gameBoard .player0, .player0 {
	background-color: red;
	border-color:red;
}

#gameBoard .player1, .player1 {
	background-color: yellow;
	border-color: yellow;
}

.hole {
	width: calc(10* var(--width));
	height: calc(10* var(--width));
	/* background-image: url('back3.png'); */
	/* border: 50px solid #f00; */
    background-repeat: no-repeat;
    background-position: center center;
	border: calc(.5* var(--width)) #175dde solid;
	border-radius: calc(10* var(--width));
	z-index: 10;
	position: relative;
    
}

div.loading .modalContainer {
	display: block;
}

.modalContainer {
	display: none;
	position: absolute;
	z-index: 1002;
	overflow: auto;
	background: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
}

.modal {
	text-align: center;
    margin: 126px auto 0 auto;
}
#noSupport {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 102px 0;
	z-index: 1002;
	overflow: auto;
	background: rgba(255, 255, 255, .4)
}

#noSupport div {
	margin:10px;
}
